/* header.component.css */
.bg-primary {
    background-color: #007bff !important;
  }
  
  .navbar-brand {
    color: white !important;
  }
  
  .nav-link {
    color: rgba(255,255,255,.55) !important;
  }
  
  .nav-link:hover, .nav-link.active {
    color: white !important;
  }