<div class="jumbotron jumbotron-fluid d-flex align-items-center">
  <div class="container text-center text-white">
    <h1 class="display-4 text-white">¡Bienvenido al club de patinaje Manises!</h1>
    <h4>Aquí encontrarás toda la información que necesitas sobre nuestros productos y servicios.</h4>
    <hr class="my-4 bg-light">
    <p class="lead">Explora nuestras últimas novedades y descubre cómo podemos ayudarte.</p>
    <a class="btn btn-primary btn-lg custom-hover pulse" href="#info" role="button">Conócenos</a>
  </div>
</div>

<section id="list-topics" class="list-topics">
  <div class="container">
    <div class="list-topics-content">
      <ul>
        <li>
          <div class="single-list-topics-content">
            <div class="single-list-topics-icon">
              <i class="fa-solid fa-chalkboard-user"></i>
            </div>
            <h3><a href="#calendario">Clases</a></h3>
          </div>
        </li>
        <li>
          <div class="single-list-topics-content">
            <div class="single-list-topics-icon">
              <i class="fa-solid fa-trophy"></i>
            </div>
            <h3><a href="#eventos">Competiciones</a></h3>
          </div>
        </li>
        <li>
          <div class="single-list-topics-content">
            <div class="single-list-topics-icon">
              <i class="fa-solid fa-calendar-days"></i>
            </div>
            <h3><a href="#calendario">Horarios</a></h3>
          </div>
        </li>
        <li>
          <div class="single-list-topics-content">
            <div class="single-list-topics-icon">
              <i class="fa fa-info-circle"></i>
            </div>
            <h3><a href="#inst">Información</a></h3>
          </div>
        </li>
      </ul>
    </div>
  </div><!--/.container-->
</section>
