@if (isLoggedIn == true){
    <div class="content">
        <div class="add-event-button">
            <button class="btn-add" (click)="onAddEvent()">
                <i class="fas fa-plus"></i> Añadir Nuevo Evento
            </button>
        </div>
        <div class="grid">
            @for (item of cards; track item; let i = $index) {
                <app-card-admin 
                    [cards]="cards[i]" 
                    [text]="text[i]"
                    [photo]="'url(' + competitionsImageUrl[i] + ')'"
                    [eventoId]="eventIds[i]"
                    [eventDate]="eventDates[i]"
                    [eventLocation]="eventLocations[i]"
                    [eventTime]="eventTimes[i]">
                </app-card-admin>
            }
        </div>

        @if (showCreateModal) {
            <app-modal
                [show]="showCreateModal"
                [isEditing]="true"
                [title]="'Crear Nuevo Evento'"
                [description]="''"
                [imageUrl]="''"
                [eventDate]="''"
                [eventLocation]="''"
                [eventTime]="''"
                (closeModal)="closeCreateModal()"
                (saveEdit)="onSaveNewEvent($event)">
            </app-modal>
        }
    </div>
}@else{

<div class="container">
    @if (case === 'one') {
    <app-login></app-login>
    }

    @if (case === 'two') {
    <app-register></app-register>
    }

    @if (case === 'three') {
    <section class="success-section">
        <h2>Página principal de admin</h2>
        <div class="success-buttons">
            <button (click)="goToLogin()" class="btn-secondary">Volver al inicio de sesión</button>
            <button (click)="goToRegister()" class="btn-secondary">Volver a registrarte</button>
        </div>
    </section>
    }
</div>
}