

@if (isLoggedIn == true){}@else{

<div class="container">
    @if (case === 'one') {
    <app-login></app-login>
    }

    @if (case === 'two') {
    <app-register></app-register>
    }

    @if (case === 'three') {
    <section class="success-section">
        <h2>Página principal de admin</h2>
        <div class="success-buttons">
            <button (click)="goToLogin()" class="btn-secondary">Volver al inicio de sesión</button>
            <button (click)="goToRegister()" class="btn-secondary">Volver a registrarte</button>
        </div>
    </section>
    }
</div>
}