<app-jumbotron></app-jumbotron>
<div id="page">
    <section id="info">
        <div class="section-header">
            <h1>Sobre nosotros</h1>
        </div>
        <app-info></app-info>
    </section>
    <section>
        <div class="section-header">
            <h1>Nuestras competiciones</h1>
            <p>Descubre en qué competencias participamos a lo largo del curso</p>
        </div>
        <div class="content">
            <div class="grid">

                @for (item of cards; track item; let i = $index) {
                    <app-card [id]="cardsId[i]" [cards]="cards[i]" [text]="text[i]"
                        [photo]="'url(' + competitionsImageUrl[i] + ')'" [comentarios]="comments[cardsId[i]] || []">
                    </app-card>
                }

            </div>
        </div>
    </section>
    <hr class="divider">
    <section>
        <div class="section-header">
            <h1>Nuestros Instructores</h1>
            <p>Conoce a nuestros expertos instructores</p>
        </div>
        <div class="instructores-container">
            @for (instructor of name; track instructor; let i = $index) {
                <app-instructores [name]="name[i]" [speed]="speed[i]" [imageUrl]="instructorsImageUrl">
                </app-instructores>
            }
        </div>
    </section>
</div>
<app-calendario></app-calendario>
<app-form></app-form>
