


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">¡Bienvenido al club de patinaje Manises!</h1>
    <p class="lead">Aquí encontrarás toda la información que necesitas sobre nuestros productos y servicios.</p>
    <hr class="my-4">
    <p>Explora nuestras últimas novedades y descubre cómo podemos ayudarte.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Conócenos</a>
  </div>
</div>

<section id="list-topics" class="list-topics">
  <div class="container">
    <div class="list-topics-content">
      <ul>
        <li>
          <div class="single-list-topics-content">
            <div class="single-list-topics-icon">
              <i class="fa-solid fa-chalkboard-user"></i>
            </div>
            <h3><a href="#">Clases</a></h3>
          </div>
        </li>
        <li>
          <div class="single-list-topics-content">
            <div class="single-list-topics-icon">
              <i class="fa-solid fa-trophy"></i>
            </div>
            <h3><a href="#">Competiciones</a></h3>
          </div>
        </li>
        <li>
          <div class="single-list-topics-content">
            <div class="single-list-topics-icon">
              <i class="fa-solid fa-calendar-days"></i>
            </div>
            <h3><a href="#">Horarios</a></h3>
          </div>
        </li>
        <li>
          <div class="single-list-topics-content">
            <div class="single-list-topics-icon">
              <i class="fa fa-info-circle"></i>
            </div>
            <h3><a href="#">Información</a></h3>
          </div>
        </li>
      </ul>
    </div>
  </div><!--/.container-->
</section>
