.card {
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  .card .card-title {
    font-family: "Montserrat", Sans-serif;
    font-size: 21px;
    text-transform: uppercase;
    line-height: 1.3em;
    color: #C4001A;
    margin: 10px 0px 10px 0px;
    padding: 15px 0px 0px 0px;
  }
  .photo {
    width: 100%; /* Ocupa todo el ancho del contenedor padre */
    height: 200px; /* Altura fija */
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
  }