<!-- Contenido de la tarjeta -->
<div class="card">
    <h3 (click)="clickModal()">{{cards}}</h3>
    <p>{{text}}</p>
    @if (photo) {
        <img [src]="photo" alt="Evento">
    }
    <p>Fecha: {{eventDate}}</p>
    <p>Ubicación: {{eventLocation}}</p>
    <p>Hora: {{eventTime}}</p>
    
    <button (click)="onEdit()">Editar</button>
    <button class="delete" (click)="onDelete()">Eliminar</button>
</div>

@if (showModal) {
    <app-modal 
        [show]="showModal"
        [title]="cards"
        [description]="text"
        [imageUrl]="photo"
        [eventDate]="eventDate"
        [eventLocation]="eventLocation"
        [eventTime]="eventTime"
        [isEditing]="isEditing"
        (closeModal)="toggleModal()"
        (saveEdit)="onSaveEdit($event)">
    </app-modal>
}