
a.btn:hover {
    background-color: white;
  }
  
  a.btn:hover i {
    color: black;
  }
  

  footer {
      color: white;
      text-align: center;
      padding: 20px;
      margin-top: 50px;
  }