    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card p-4" style="width: 100%; max-width: 600px;">
            <h1 class="text-center mb-4">Contacto</h1>
        <form class="contact-form">
            <!-- Campo Nombre -->
            <div class="form-group">
                <i class="fas fa-user icon"></i>
                <input type="text" id="nombre" name="nombre" placeholder="Nombre" required>
            </div>
            <!-- Campo Apellidos -->
            <div class="form-group">
                <i class="fas fa-users icon"></i>
                <input type="text" id="apellidos" name="apellidos" placeholder="Apellidos" required>
            </div>
            <!-- Campo Email -->
            <div class="form-group">
                <i class="fas fa-envelope icon"></i>
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
            <!-- Campo Mensaje -->
            <div class="form-group">
                <i class="fas fa-comment icon"></i>
                <textarea id="mensaje" name="mensaje" rows="4" placeholder="Escribe tu mensaje" required></textarea>
            </div>
            <!-- Botón de Enviar -->
            <button type="submit" class="submit-btn">
                <i class="fas fa-paper-plane"></i> Enviar Mensaje
            </button>
        </form>
        </div>
    </div>